# Provides cross-editor baseline config
# This controls indentation defaults and whitespace handling but not full formatting style
# This will affect live editing behaviour as this file is read on buffer enter for matching file types
# Some save-time behaviour is also configured here such as trimming of whitespace and final newlines
# Other sources of formatting include config files for formatters, options.lua, and after/ftplugins files

# settings root = true here stops editorconfig from searching any higher than ~
# if a local .editorconfig file is made for a project root = true will prevent searching higher than that project root
root = true

# settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# settings for lua files only
[*.lua]
indent_style = space
indent_size = 2

# settings for python files only
[*.py]
indent_style = space
indent_size = 4

# settings for markdown files only
[*.md]
trim_trailing_whitespace = false
