# general QoL
alias vim="nvim"
alias vi="nvim"
alias nv="nvim"
alias py="python3"
alias python="python3"

# file nav and listing
alias ls='eza --icons=auto'
alias la='eza --icons=auto --all'
alias lg='eza --icons=auto --long --git'
alias lag='eza --icons=auto --long --all --git'
alias lt='eza --icons=auto --tree --git-ignore'
alias lat='eza --icons=auto --tree --all --git-ignore'
alias ..='cd ..'
alias ...='cd ../..'

# git
alias gs='git status -u'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline --graph --decorate --all -n 20'

# docker
alias dps='docker ps'
alias dcu='docker compose up -d'
alias dcd='docker compose down'

# quick config editing
alias zshrc='nvim ~/.zshrc.local && source ~/.zshrc'
alias aliases='nvim ~/dotfiles/zsh/.aliases && source ~/.aliases'
